
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(201, 201, 201);
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#CV {
    background-color: white;
    margin: 0 auto;
    width: 99%;
}

#moreInfo {
    display: none;
}

nav {
    width: 100%;
    background-color: #E90000;
    position: fixed;
    z-index: 10;
}

nav ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
}

nav ul li {
    
    list-style-type: none;
    padding: 1%;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

header {
    background-color: #2e2e2e;
    color: white;
    height: 1300px;
    display: flex;
    align-items: center;
    width: 100%;
}

#headerText {
    padding: 2%;
    margin-left: 10%;
}

header h1 {
    font-size: 400%;
}

header img {
    height: 40%;
    padding: 2%;
    vertical-align: middle;
}

.redHeaderSeparator {
    height: 10px;
    background-color: #E90000;
}

#mainContent {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 200%;
}


#leftSection {
    background-color: #5F5F5F;
    padding: 2%;;
    width: 20%;
    color: white;
}

#leftSection h3 {
    font-size: 170%;
    margin-bottom: 0;
    margin-top: 20%;
}

.littleRedHeaderSeparator {
    background-color: #E90000;
    height: 3px;
    width: 95%;
    margin-top: 0;
    margin-bottom: 6%;
}

#leftSection ul {
    list-style-type: none;
    
}

#leftSection ul li {
    font-size: 120%;
    margin-bottom: 5%;
}


#rightSection {
    padding: 3%;
    width: 70%;
}

#rightSection p {
    font-size: 140%;
    line-height: 150%;
    text-align: justify;
    width: 85%;
}

.largeRedHeaderSeparator {
    width: 90%;
    height: 2px;
    background-color: #E90000;
}

#aboutMe {
    margin-top: -2%;
    padding-top: 2%;
}

#education {
    margin-top: -2%;
    padding-top: 2%;
}

#experience {
    margin-top: -2%;
    padding-top: 2%;
}

#education ul li {
    font-size: 140%;
    margin-bottom: 5%;
}

#experience h4 {
    font-size: 150%;
    margin-bottom: 0;
}

#experience p {
    margin-top: 0;
    margin-left: 5%;
}

#programmingLanguages {
    padding: 3%;
    margin-top: -3%;
}

.languageIcon {
    width: 200px;
    height: 200px;
    padding: 3%;
}

.triangleSeparator {
    width: 100%;
}

#portfolio h1 {
    font-size: 400%;
    text-align: center;
    padding: 5%;
}

.portfolioItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.portfolioItemImage {
    background-color: #8F0000;
    width: 30%;
    border-radius: 5%;
}

.portfolioItemImage img {
    padding: 3%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.portfolioItemText {
    font-size: 180%;
    width: 500px;
    padding: 5%;
}

.portfolioItem h3 {
    text-align: center;
}

.portfolioItem a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
}

#otherWorksGallery h2{
    text-align: center;
    padding: 5%;
    margin-bottom: 1%;
}

#gallery {
    width: 40%;
    margin: auto;
    position: relative;
}

.slideElement {
    display: none;
    width: 100%;
}

.slideElement img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-style: groove;
    border-width: 10px;
    border-color: #E90000;
}

.imageCaption {
    background-color: #3d3d3d;
    padding: 3%;
    opacity: 0.5;
    width: 96%;
    text-align: center;
    color: white;
    margin-top: 0;
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 1%;
    background-color: #E90000;
    color: white;
    font-size: 200%;
    border-color: #2e2e2e;
   
    
}

.prev:hover, .next:hover {
    background-color: rgb(209, 209, 209);
    color: #E90000;
}
.prev {
    right: 100%;
}

.next {
    left: 101%;
}



footer {
    background-color: #5F5F5F;
    width: 100%;
    height: 100px;
    margin-top: 5%;
}

@media only screen and (max-width: 800px) {

    header {
        height: 500px;
        width: 100%;
    }

    header img {
        height: 15%;

    }  

    header h1 {
        font-size: 200%;
    }

    #moreInfo {
        display: block;
        position: fixed;
        width: 15%;
        border-radius: 10%;
        z-index: 10;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    #mainContent {
        display: block;
    }


    #leftSection {
        position: fixed;
        top: 0;
        width: 80%;
        height: 100%;
        z-index: 9;
        font-size: 0%;
        max-width: 0%;
        padding: 0%;
    }

    #rightSection {
        width: 90%;
        text-align: center;
        padding: 2%;

    }

    #rightSection p {
        font-size: 140%;
        width: 100%;
        text-align: center;
    }

    .largeRedHeaderSeparator {
        margin: 0 auto;
    }
    
    
    .portfolioItem {
        display: block;
        margin-bottom: 30%;
    }
    
    .portfolioItemImage {
        background-color: #8F0000;
        width: 90%;
        margin: 0 auto;
        border-radius: 5%;
    }
    
    .portfolioItemText {
        font-size: 130%;
        width: 90%;
        padding: 5%;
        text-align: center;
    }
    
    .portfolioItem a {
        font-size: 100%;
    }

    #otherWorksGallery h2{
        text-align: center;
        padding: 5%;
        margin-bottom: 1%;
    }
    
    #gallery {
        width: 80%;
    }
        
    .imageCaption {
        background-color: #3d3d3d;
        padding: 3%;
        opacity: 0.5;
        width: 96%;
        text-align: center;
        color: white;
        margin-top: 0;
        
    }
    
    .prev, .next {
        top: 27%;
        padding: 1%;
        background-color: #E90000;
        font-size: 200%;
    }
    
    .prev:hover, .next:hover {
        background-color: rgb(209, 209, 209);
        color: #E90000;
    }
    .prev {
        right: 100%;
    }
    
    .next {
        left: 105%;
    }
    


}